

#card-section{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input {
    display: none;
}
.captured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100px;
}

.poke-captured{
    height: 90px;
    width: 90px;
}

.round-num{
    background-color: white;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #CC0000;
}

.poke-image{
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

.poke-image:hover{
    transform: scale(1.1);
}
label{
    width: 250px;
    height: 400px;
    margin-top: 20px;
    border: 2px solid #CC0000;
    border-radius: 20px;
}

label > p {
    font-size: 1.5em;
    text-align: center;
}

button{
    background-color: #CC0000;
    color: #FFDE00;
    width: 200px;
    height: 100px;
    border: 0;
    border-radius: 15px;
    font-size: 2.5em;
    outline: none;
    box-shadow: 2px 2px 3px;
    margin: 10px;
}

button:active{
    box-shadow: none;
}

.results-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: white;
    visibility: hidden;
}

#giphy{
    height: 250px;
    margin-top: 100px;
}