body{
    background-color: yellow;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-section{
    width: 90%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    border: 5px solid blue;
}

#captured-section{
    width: 100%;
    height: 200px;
    display: grid;
    grid-row: 1fr;
    margin-bottom: 100px;
    background-color: purple;
}

#card-section{
    width: 100%;
    height: 500px;
    display: grid;
    grid-row: 1fr 1fr 1fr;
    background-color: green;
}