body{
    background-color: yellow;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-section{
    /* width: 90%; */
    width: 1000px;
    /* max-width: 1200px; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    border: 2 px solid red;
}

#captured-section{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
